/* EIGENE FONTS (alle im fonts Ordner)*/

@font-face {
    font-family: rubik_light;
    src: url('../fonts/index/rubik/Rubik-Light.ttf');
}

@font-face {
    font-family: rubik_bold;
    src: url('../fonts/index/rubik/Rubik-Bold.ttf');
}

@font-face {
    font-family: rubik_Regular;
    src: url('../fonts/index/rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: rubik_SemiBold;
    src: url('../fonts/index/rubik/Rubik-SemiBold.ttf');
}

/* WILKOMMENSNACHRICHT */

.welcome {   
    background-color: #081017;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.welcome .welcometextarea {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.welcome .welcometextarea .title {
    position: relative;
    color: #E6E6E6;
    font-family: rubik_Bold;
}

.welcome .welcometextarea .text {
    position: relative;
    color: #E6E6E6;
    font-family: rubik_Regular;

}

/* INHALT */

.contents {
    background-color: #081017;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
}

.contents .contentTable {
    list-style: none;
    display: flex;
    height: auto;
    position: relative;
    width: auto;
    margin: 5% 2.5% 5% 2.5%;
    flex-basis: auto;
    justify-content: center;
    gap: 15px;
}

.contents .contentTable .contentbox {
    width: 192px;
    height: 108px;
    border: #0E1923 solid 0.5px;
}

/* AGENTEN */

.agents {
    background-color: #081017;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
}

.agents .agentsTable {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 95%;
    margin: 5% auto 5% auto;
    justify-content: center;
    flex-basis: 20%;
    
}

.agents .agentsTable .agentsbox {
    width: 124px;
    height: 190px;
    margin: 5% auto 5% auto;
    font-family: rubik_Regular;
    color: #ed4443;
    text-align: center;
}


/* LETZTES UPDATE */

.lastupdate {
    background-color: #081017;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
}

.lastupdate .updatetitle {
    font-family: rubik_Bold;
    color: #ed4443;
}

.lastupdate .updatetext {
    font-family: rubik_Light;
    color: #E6E6E6;
}

.lastupdate .trailer {
    font-family: Rubik_SemiBold;
    color: #E6E6E6;
}

/* SIDE PANEL */
/* HTL PANEL */

.htl {
    background: #081017;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    color: #E6E6E6;
    overflow: hidden;
    margin-bottom: 5%;
}

/* SPIELE VALORANT PANEL */

.play {
    background: #081017;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center; 
    color: #E6E6E6;
    overflow: hidden;
    margin-bottom: 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* VALORANT ESPORTS PANEL */

.esports {
    background: #081017;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: center;
    color: #E6E6E6;
    overflow: hidden;
    margin-bottom: 5%;
}

/* ANDERE SPIELE VON RIOT GAMES PANEL*/

.riotgames {
    background: #081017;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: center;
    color: #E6E6E6;
    overflow: hidden;
    margin-bottom: 5%;
}

/* VALORANT TWITTER FEED PANEL */

.twitterfeed {
    background: #081017;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: center;
    color: #E6E6E6;
    overflow: hidden;
    margin-bottom: 5%;
}
