.textbox {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

.textbox .maptext {
    color: #E6E6E6;
    font-family: rubik_Regular;
    font-size: large;
    text-align: justify;
    hyphens: auto;
    word-spacing: 5px;
}


